{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>

	<head>
		{{ block('head_brand') }}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/loader.css" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css" />
		<link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css" />

		<script src="https://use.typekit.net/pve7eut.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script> 

		<script>
			document.documentElement.className = 'js';
		</script>
		
	</head>

	<body style="padding-top: {{ navBarOffset }};">
		{{ block('bar_brand') }}
		{# <div class="overlay">
			<img class="logo-brand" src="img/logo-lt-blanc.svg" alt="">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div> #}
		
		<!-- <div class="progress"></div> -->

		<!-- <nav>
			<ul>
			</ul>
		</nav> -->

		<header>
			<div class="header--bg">
				<div class="header-gradient"></div>
				<div class="header--bg--img"></div>
				{# <div class="header--bg--vid">
					<video autoplay loop muted>
						<source src="https://player.vimeo.com/external/252678358.hd.mp4?s=2275fdf9c90244cc9aa0b7fdfa9850d82948dc3a&profile_id=175"
						 type="video/mp4"> Votre navigateur ne supporte pas les vidéos HTML%.
					</video>
				</div> #}
			</div>
			
			<div class="header--title"> 
				<div class="container">
					<h1 class="f-font1 f-weight400 f-h1 f-white-special">L’avalanche<br>de leur vie</h1>
					<div class="spacer-xs"></div>
					<h2 class="f-font1 f-h2 f-white-special f-aa">Ils sont tous coutumiers des pentes enneigées, mais cela ne les a pas empêchés de se faire piéger. Quatre victimes racontent leur expérience. Ce jour où la montagne, un instant, a trahi leur confiance.</h2>
				</div>
			</div>
			<!-- <div class="header--caption">
				<div class="container f-font1 f-gray-medium f-aside f-aa">
					Photographies: Eddy Mottaz
				</div>
			</div> -->
		</header>

		<section>
			<div class="container">
				<div class="row">

					<div class="box-aside infos is-absolute col-md-4">
						<p class="f-font1 f-aside f-gray-dark f-nomargin">
							<span class="f-font1 f-weight600">Sylvain Besson</span> <span class="f-aa">, Rédacteur en chef adjoint et journaliste d'investigation au <i>Temps</i></span>
						</p>
						<div class="spacer-sm"></div>
						<a href="mailto:sylvain.besson@letemps.ch" target="_blank"><button type="button" class="btn btn-default btn-lg f-font3 f-weight600 f-aa">Lui écrire</button></a>
						<div class="spacer-sm"></div>
						<p class="f-font1 f-aside f-gray-medium f-aa f-nomargin">Publié le 27 janvier 2018<br>10 minutes de lecture</p>
						<div class="spacer-lg"></div>
						<p class="f-font1 f-weight600 f-aside f-black f-nomargin">Partager cet article</p>
						<div class="spacer-xs"></div>
						<div class="sharebox">
							<a href="https://www.facebook.com/sharer.php?u={{ app.url }}&display=popup&ref=plugin&src=share_button" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
							<a href="https://twitter.com/intent/tweet?text={{ twitterDescription ~ ' ' ~ app.url ~ ' '|url_encode }}&via={{ brand }}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
							<a href="https://www.linkedin.com/shareArticle?url={{ app.url }}&mini=true&title={{ title|url_encode }}&summary={{ description|url_encode }}&source={{ 'Le Temps'|url_encode }}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
						</div>
					</div>

					<div class="content col-md-12">
						
						<p class="lettrine">
							Il a fallu plusieurs mois à Cachou pour pouvoir à nouveau regarder les montagnes sans ressentir un profond dégoût. Pour elle, plus que pour bien d’autres, cet hiver est particulier. Le danger d’avalanche accru exacerbe sa méfiance. «Avant mon avalanche, j’aurais évité les randonnées par danger 5. Maintenant, je ne peux simplement pas m’imaginer aller dans un fond de vallée.»
						</p>
						<p>
							Pour cette jeune femme, le choc post-traumatique a été plus difficile à gérer que l’avalanche elle-même. «Je ne regardais pas la réalité en face. Je n’avais plus de contact avec mes enfants. Je pleurais tous les soirs.» C’était il y a moins d’un an et elle ne s’en est pas encore totalement remise.
						</p>

						<p>
							Impossible à oublier. Si les cicatrices laissées par les avalanches sur le manteau neigeux sont éphémères, elles demeurent indélébiles dans l’esprit de leurs victimes. Comme si les secondes avaient, à cet instant, pris l’apparence d’heures, le temps leur a soudain paru plus long. Tous se souviennent miette par miette de l’avalanche qui a failli emporter leur vie. Ces 8 décembre, 22 janvier, 1er et 22 avril sont restés ancrés dans leur mémoire.
						</p>

						<!-- PICTURE full -->
						<div class="box-full col-md-12">
							<div class="row">
								<div class="spacer-sm"></div>
								<figure class="figure-lg">
									<img class="img-responsive zoom lazy" data-original="img/article/inter-b.jpg">
									<!-- <img src="img/article/inter-b.jpg" alt="" class="img-responsive zoom"> -->
									<div class="row">
										<!-- <figcaption class="f-font1 f-aside f-gray-medium f-aa col-md-4">
											<div class="spacer-xl"></div>
											Le Salento (Salentu en dialecte) constitue l'extrémité sud-est de la région des Pouilles en Italie. Décrit comme étant le
											« talon de la botte italienne », il englobe la totalité de la province de Lecce.
										</figcaption> -->
									</div>
								</figure>
								<div class="spacer-xl"></div>
							</div>
						</div>

						<p class="f-h6 f-font1 f-inter">«La montagne s’est détachée»</p>

						{# <div class="box-aside col-md-4" style="color:red; display: inline; overflow: auto;">
							<figure>
								<canvas id="myChart" ></canvas>
								<div class="spacer-xl"></div>
								<figcaption class="f-font1 f-aside f-gray-medium f-aa">En plein foyer de l'épidémie, au milieu des oliviers desséchés, Tina Minerva et son association parviennent à guérir des arbres grâce à des méthodes respectueuses de l'environnement</figcaption>
							</figure>
						</div> #}

						<p>
							C’était le premier jour de poudreuse de la saison. Il avait neigé la veille et le bulletin indiquait un danger de niveau 3. Inconditionnelle de la godille, Diane dévale les pentes enneigées depuis des années. Ce qu’elle aime, c’est tracer des virages dans la neige vierge, parallèlement à ceux du guide. Sur les photos, c’est esthétique. Ce jour-là, comme à l’accoutumée, à peine arrêtée à côté du professeur de ski, elle dégaine son appareil et se retourne vers la pente qu’elle vient de tracer pour la photographier. «C’est à cet instant que j’ai vu la montagne se détacher.»
						</p>

						

						<!-- GRAPH full -->
						<div class="box-full col-md-12">
						    <div class="row">
						        <div class="spacer-sm"></div>
						        <figure class="figure-lg">
						           <canvas id="myChart" ></canvas>
						            <div class="row">
						                <figcaption class="f-font1 f-aside f-gray-medium f-aa col-md-4">
						                    <div class="spacer-xl"></div>
						                    Le Salento (Salentu en dialecte) constitue l'extrémité sud-est de la région des Pouilles en Italie. Décrit comme étant le
						                    « talon de la botte italienne », il englobe la totalité de la province de Lecce.
						                </figcaption>
						            </div>
						        </figure>
						        <div class="spacer-xl"></div>
						    </div>
						</div>

						<p>
							A près de 3000 mètres d’altitude, les cristaux de neige étincelaient dans l’air vif. Ce jour-là, différents éléments avaient rendu Diane craintive. «Normalement, pour faire du hors-piste, j’ai toujours recours à un guide. Mais cette fois, nous avions pris un professeur de ski», explique-t-elle. Le moniteur a emmené ses clients à Back Mont-Fort, un hors-piste prisé des 4 Vallées. «Je n’avais pas envie d’y aller, car on m’avait toujours dit qu’il ne fallait pas y descendre juste après des chutes de neige.» Mais la motivation du groupe a été plus forte que ses appréhensions. Au sommet de la télécabine, elle a tourné le dos au Grand-Combin et plongé derrière ses amis sous la Rosablanche, pour suivre l’itinéraire normal qui sinue entre les glaciers.
						</p>

						<div class="collapsable is-collapsed">
							<div class="collapsable--header f-center">
								<figure class="portrait">
									<img src="img/article/collapsable1-thumb.jpg">
								</figure>
								<span class="f-font1 f-weight400 f-h6 f-flash">
									Prévention: Avant de sortir, se former et s’informer
								</span>
								<span class="f-font2 f-weight400 f-h5 f-gray-medium f-aa">
									Il existe aujourd’hui, et de plus en plus, une multitude de sources d’information utiles pour se préparer au mieux au ski hors piste ou, plus généralement, aux sorties en montagne. Sans prétention d’exhaustivité, Le Temps en a sélectionné quelques-unes...
								</span>
								<button type="button" class="btn btn-default btn-lg btn-reveal f-font3 f-weight600 f-aa">Ouvrir</button>
							</div>
						
							<div class="collapsable--content">
								<!-- <div class="interview">
									<div class="box-aside col-md-3">
										<figure>
											<img src="img/article/interview2.jpg">
											<div class="spacer-lg"></div>
											<figcaption class="f-font1 f-aside f-gray-medium f-aa">
												<span class="f-weight700">Giuseppe Siletti</span>Commissaire extraordinaire en charge de la lutte contre l'épidémie</figcaption>
										</figure>
									</div>
									<div class="interview-2-columns col-md-9">
										<span class="f-font1 f-weight700">– Pourquoi est-il si important d’abattre les oliviers? N’y a-t-il aucun moyen de les soigner?</span>
										<div class="spacer-sm"></div>
										<span class="f-font2">– Les abattages des oliviers, que nous limiterons tant que possible, sont le seul moyen de combattre l’épidémie. Associées
											à de bonnes pratiques agricoles destinées à garder un sol propre, elles permettent de détruire les réservoirs de
											<i>Xylella fastidiosa</i>.</span>
								
										<div class="spacer-md"></div>
										<span class="f-font1 f-weight700">– Combien d’arbres comptez-vous vraiment abattre?</span>
										<div class="spacer-sm"></div>
										<span class="f-font2">– Pour l’instant il est impossible de le savoir, le nombre final ne sera connu qu’après les interventions. Mais il sera
											de toute façon bien moins élevé que le nombre d’arbres que nous abattons chaque année à la demande des propriétaires des
											provinces de Lecce et de Brindisi.</span>
								
										<div class="spacer-md"></div>
								
										<span class="f-font1 f-weight700">– Comment choisissez-vous les arbres à abattre?</span>
										<div class="spacer-sm"></div>
										<span class="f-font2">– La loi stipule que les arbres montrant des symptômes visibles de la maladie doivent être abattus. Des tests génétiques
											pour identifier la bactérie sont en outre effectués en laboratoire à partie d’échantillons provenant de ces arbres, mais
											aussi de tous ceux plantés dans un rayon de 200 mètres. ils sont effectués par les services phytosanitaires régionaux.</span>
									</div>
								</div> -->

								<div class="encart SINFORMER no-padding">
									<div class="clearfix">
										<div class="box-aside col-md-3">
											<div class="slider owl-carousel owl-theme">
												<img src="img/article/infog1.png" alt="">
												<img src="img/article/infog2.png" alt="">
												<img src="img/article/infog3.png" alt="">
												<img src="img/article/infog4.png" alt="">
												<img src="img/article/infog5.png" alt="">
											</div>
										</div>
										<div class="col-md-9 pull-right" style="padding: 0;">
											<div class="encart-2-columns">
												<span class="f-h6 f-font1 f-weight700">Avant de sortir, se former et s’informer</span>
												<div class="spacer-sm"></div>
												<span class="f-font2">Il existe aujourd’hui, et de plus en plus, une multitude de sources d’information utiles pour se préparer au mieux au
													ski hors piste ou, plus généralement, aux sorties en montagne. Sans prétention d’exhaustivité, Le Temps en a sélectionné
													quelques-unes.
												</span>
								
												<div class="spacer-sm"></div>
												<span class="f-font2">D’abord, le site internet de l’
													<a href="https://www.slf.ch/fr.html" target="_blank">Institut pour l’étude de la neige et des avalanches</a> (SLF) à Davos, dont l’interface s’est beaucoup améliorée, depuis
													cet hiver. Plus utile encore, son application
													<a href="https://www.whiterisk.ch/fr" target="_blank">Whiterisk</a>, qui regroupe peu ou prou les mêmes informations que son site, mais qui s’adresse davantage au grand public.</span>
								
												<div class="spacer-sm"></div>
												<span class="f-font2">Citons également la brochure
													<b>«Attention avalanches»</b>>, disponible auprès de ses éditeurs (le Club Alpin Suisse, le SLF, l’Association suisse des
													guides de montagne, etc.). Cette dernière permet d’en apprendre un peu plus sur l’évolution de la structure neigeuse
													en fonction de la météo et sur les conditions propices au départ des avalanches.</span>
								
												<div class="spacer-sm"></div>
												<span class="f-font2">Quelques ouvrages plus conséquents sont également à recommander:
													<i>Estimer et limiter le risque d’avalanche</i>, du nivologue fondateur de Meteorisk Robert Bolognesi,
													<i>3x3 Avalanches</i>, par le guide de montagne Werner Munter ou encore
													<i>Avalanches, comment réduire le risque</i>, par Olivier Moret et Philippe Descamps, anciens rédacteurs en chef de Montagnes
													Magazine et anciens directeurs de la Fondation Petzl.</span>
								
												<div class="spacer-sm"></div>
												<span class="f-font2">Enfin, pour affiner sa pratique, il existe une multitude de
													<i>cours avalanche</i>. Leurs coûts: 100 à 200 francs pour une journée de formation à l’évaluation du danger, à l’utilisation
													du matériel et aux réflexes à adopter en cas d’avalanche.
												</span>
											</div>
										</div>
									</div>
								</div> 

							</div>
						
							<div class="collapsable--footer f-center">
								<button type="button" class="btn btn-default btn-lg f-font3 f-weight600 f-aa">Ouvrir</button>
							</div>
						</div>

						<p class="f-h6 f-font1 f-inter">Skier léger, ne pas trop appuyer</p>
						
						<p>
							C’est dans la même région que Christian a vu le sol se dérober sous ses skis. Il était 13h, le 1er avril. Une neige fraîche
							et étonnamment poudreuse pour la saison avait placé le Valais en danger 3. Sur l’ultime pente avant le barrage de Cleuson,
							le trentenaire est le dernier à descendre. Il jette son dévolu sur un itinéraire vierge, à quelques mètres des traces de
							ses camarades. Dans sa tête, il se répète: skier léger, ne pas trop appuyer dans les virages, être fluide.
						</p>
						
						<!-- PICTURE NORMAL -->
						<div class="box-full col-md-12">
							<div class="row">
								<div class="spacer-sm"></div>
								<figure class="figure-sm ">
									<img class="img-responsive zoom lazy col-md-8" data-original="img/article/avalanche2.jpg">
									<figcaption class="f-font1 f-aside f-gray-medium f-aa col-md-4">Il s'est senti totalement impuissant. Rescapé de l'avalanche, Christian s'en éloigne sur un ski. Il retrouvera le second
										au printemps.</figcaption>
								</figure>
								<div class="spacer-xl"></div>
							</div>
						</div>

						<p>
							Dès qu’il franchit la rupture de pente, il aperçoit une fissure déchirer le manteau neigeux. Pas un bruit, juste un éclair.
							«C’est une sensation particulière. Tout à coup, toute la neige ondulait autour de moi. Comme si j’avais brisé un miroir.
							D’abord, ça se craquelle de côté et les fractures donnent l’impression de se rapprocher de toi. Tout devient fluide et se
							met en mouvement.» Un instant, il se surprend à admirer la beauté de la scène dont il fait partie. L’avalanche prenant de
							l’envergure, le ravissement disparaît. Et son combat commence.
						</p>
						
						<!-- Vidéo de Yann Décaillet -->
						<div class="box-full col-md-12">
							<div class="row">
								<div class="spacer-sm"></div>
								<figure class="figure-lg">
									<div class="video-wrapper">
										<div class="video-wrapper-flex">
											<iframe src="https://player.vimeo.com/video/252306951?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360"
											 frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
										</div>
									</div>
									<div class="row">
										<figcaption class="f-font1 f-aside f-gray-medium f-aa col-md-4">
											<div class="spacer-xl"></div>
											Comment porter secours à une victime d'avalanche? Les conseils de Yann Décaillet, guide de montagne.
										</figcaption>
									</div>
								</figure>
								<div class="spacer-xl"></div>
							</div>
						</div>
						
						<p class="f-h6 f-font1 f-inter">«Comme une bagarre»</p>

						<p>
							Il tente d’appliquer certains préceptes de skieurs avertis. Tirer une ligne droite et se réfugier en lieu sûr. «J’ai presque
							réussi, j’y croyais, vraiment. Mais l’avalanche a emporté mes skis», se souvient-il. Une fois pris au piège, nager dans
							la coulée s’avère aussi impossible. En fait, Christian est totalement impuissant. La montagne n’y porte aucune attention,
							mais le skieur est à sa merci.
						</p>

						<!-- GRAPH full -->
						<div class="box-full col-md-12">
						    <div class="row">
						        <div class="spacer-sm"></div>
						        <figure class="figure-lg">
						           <canvas id="myChart2" ></canvas>
						            <div class="row">
						                <figcaption class="f-font1 f-aside f-gray-medium f-aa col-md-4">
						                    <div class="spacer-xl"></div>
						                    Certains totaux peuvent être différent de 100% en cas de transitions d'une organisation scolaire à une autre.
						                </figcaption>
						            </div>
						        </figure>
						        <div class="spacer-xl"></div>
						    </div>
						</div>
						
						<p>
							«C’est comme une bagarre. Lorsque tu es couché et qu’un inconnu t’assène des coups. Tu es incapable de te relever, les coups
							s’abattent sur toi et tu dois encaisser. C’est très physique. Et mentalement, il faut tenir.» Dans sa chute, il garde les
							yeux ouverts. Dilatées, ses pupilles sont assaillies de flashs, successivement blancs et bleus.
						</p>
						
						<p>
							«Avec le bleu, je prenais un coup. Le blanc était synonyme d’une courte trêve.» Au-delà de la douleur, c’est le manque d’air
							qui l’angoisse. Dès sa première respiration, de la neige légère s’introduit dans ses poumons. Il met son bras en écharpe
							autour de sa bouche. «C’est tout ce que j’ai pu faire.»
						</p>

						<div class="collapsable is-collapsed">
							<div class="collapsable--header f-center">
								<figure class="portrait">
									<img src="img/article/collapsable2-thumb.jpg">
								</figure>
								<span class="f-font1 f-weight400 f-h6 f-flash">
									Portrait: Jean-Luc Lugon, l’homme qui lit dans la neige
								</span>
								<span class="f-font2 f-weight400 f-h5 f-gray-medium f-aa">
									Le responsable de la sécurité de la vallée du Trient étudie le manteau neigeux jour après jour. Les données qu’il recueille servent notamment à établir la carte suisse des dangers.
								</span>
								<button type="button" class="btn btn-default btn-lg btn-reveal f-font3 f-weight600 f-aa">Ouvrir</button>
							</div>
						
							<div class="collapsable--content">
								
								<div class="encart SINFORMER no-padding">
									<div class="clearfix">
										<div class="col-md-12 pull-right" style="padding: 0;">
											<div class="encart-3-columns">
												<span class="f-h6 f-font1 f-weight700">Jean-Luc Lugon, l’homme qui lit dans la neige</span>
												<div class="spacer-sm"></div>
												<span class="f-font1 f-weight700 f-aa">Le responsable de la sécurité de la vallée du Trient étudie le manteau neigeux jour après jour. Les données qu’il recueille
													servent notamment à établir la carte suisse des dangers.</span>
												<div class="spacer-sm"></div>
								
												<span class="f-font2">Le soleil est réapparu, enfin, il peut souffler. Ces dernières semaines, à mesure que les chutes de neige prenaient de
													l’importance, les nuits de Jean-Luc Lugon s’amenuisaient. Lundi, alors que le Valais gisait sous un danger de degré
													5, le responsable de la sécurité pour la vallée du Trient était sur le qui-vive. Sillonnant son secteur de part en part,
													il a pris la décision de faire évacuer les zones menacées par les avalanches dans les villages de Trient et de Finhaut. Sous
													ses yeux, ces monstres de neige ont dévalé les pentes mais n’ont que frôlé les habitations.</span>
												<div class="spacer-sm"></div>
												<figure>
													<img src="img/article/lugon2.jpg" class="zoom">
												</figure>
												<div class="spacer-sm"></div>
												<span class="f-font2">Le lendemain, comme s’il lui avait fallu la nuit pour négocier avec les bacchantes des cimes, le spécialiste a, la conscience
													tranquille, invité les habitants du coin à regagner leur foyer. «Quand on a de grosses chutes de neige, le manteau se
													stabilise très vite», explique-t-il. «Pour les routes et les villages, je ne crains plus vraiment les avalanches. Les
													randonneurs doivent toutefois rester attentifs aux accumulations de neige qui se forment rapidement avec le vent.»</span>
								
												<div class="spacer-sm"></div>
												<div class="spacer-sm"></div>
								
												<span class="f-font1 f-weight700">Réveil à 2 heures du matin</span>
												<div class="spacer-sm"></div>
												<span class="f-font2">La voix douce du Valaisan ne trahit pas le poids de la responsabilité qui pèse sur ses épaules. Cette dernière semaine,
													il s’est levé tous les matins à 2h pour d’abord étudier les modèles informatiques, puis les archives et imaginer, en
													croisant ses informations avec ses connaissances, jusqu’où ses avalanches pourraient descendre. C’est lui, ensuite,
													qui alerte les états-majors communaux du danger qui menace routes et villages de son secteur. Et c’est lui aussi qui,
													comme 50 homologues sur l’ensemble du territoire suisse, tous les jours de l’hiver, envoie ses observations à l’institut
													SLF pour l’étude de la neige et des avalanches à Davos afin qu’une carte des dangers nationale soit établie.</span>
												<div class="spacer-sm"></div>
												<figure>
													<img src="img/article/lugon4.jpg" class="zoom">
												</figure>
								
												<div class="spacer-sm"></div>
												<span class="f-font2">Le territoire qu’il surveille depuis douze hivers couvre 220 kilomètres carrés, le long de la frontière franco-suisse
													entre le glacier du Trient et les Dents du Midi. Enfant de la vallée, cet accompagnateur en montagne connaît cette région
													comme sa poche. Il y est d’ailleurs entièrement dévoué et la parcourt essentiellement à ski. «Pour faire ce métier,
													il faut être passionné», avait-il livré un jour superbe de décembre alors qu’il nous emmenait en randonnée sur l’Arpille,
													le sommet qui domine la route du col de la Forclaz.</span>
								
												<div class="spacer-sm"></div>
												<span class="f-font2">Il avait parqué son pick-up et, son sac à dos avait chargé d’outils de mesure ainsi que d’un petit thermos. Il avait,
													d’un pas serein, tracé la neige en peaux de phoque à travers les sapins sans cesser de s’extasier sur la beauté du paysage.
													Parfois, il s’arrêtait pour désigner de la pointe du bâton un des douze couloirs à avalanches qui menacent la route
													du col.
												</span>
								
												<div class="spacer-sm"></div>
												<div class="spacer-sm"></div>
												<span class="f-font1 f-weight700">La saison sous les yeux</span>
												<div class="spacer-sm"></div>
												<span class="f-font2">Dans la neige, ses sens semblent s’affûter. L’homme guette les coulées spontanées, éprouve la réaction du manteau et
													scrute l’état de la neige sous toutes ses coutures. Il lit en elle comme dans un livre et lorsqu’il y taille une brèche
													et découpe un profil stratigraphique, c’est la saison entière qui se déploie sous ses yeux. La taille des grains, leur
													forme, la façon dont ils s’enlacent permet à Jean-Luc Lugon de prévoir la réaction de la couverture neigeuse dans les
													pentes similaires.</span>
								
												<div class="spacer-sm"></div>
												<span class="f-font2">Dans sa tête, les données du ciel et de la terre sont sans cesse croisées. Mais cela lui arrive de se référer aussi aux
													humains, qui à l’image de son collègue de la zone limitrophe lui transmettent d’autres pistes afin de mieux comprendre
													sa vallée à lui. Seul à effectuer son travail, il respecte un mot d’ordre: ne pas perdre le fil des précipitations et
													des événements de la saison.</span>
								
												<div class="spacer-sm"></div>
												<span class="f-font2">Pas étonnant, donc, qu’à force de les surveiller, il a comme apprivoisé ces avalanches. Il sait en tous les cas d’où
													elles partent et jusqu’où elles vont. Contrairement à ses collègues des autres régions, il est peu enclin à l’usage
													des explosifs et de l’hélicoptère. Non pas par pacifisme exacerbé, mais parce que sa vallée en a moins besoin. «Il faut
													connaître la région, mais ici, en général, la topographie se suffit à elle-même», affirme-t-il.
												</span>
												<div class="spacer-sm"></div>
												<figure>
													<img src="img/article/lugon5.jpg" class="zoom">
												</figure>
												<div class="spacer-sm"></div>
												<div class="spacer-sm"></div>
												<span class="f-font1 f-weight700">Pluie salvatrice</span>
												<div class="spacer-sm"></div>
												<span class="f-font2">Depuis le début de la saison, 12 mètres de neige se sont déposés dans son secteur, à 2200 mètres. «La situation est toutefois
													différente qu’en 1999, car il est tombé moins de neige fraîche en dessous de 1800 mètres. C’est la pluie qui a sauvé
													la situation. Sinon, en poudreuse, mes avalanches peuvent partir à 2600 mètres et atteindre la plaine à 700 mètres en
													cassant tout sur leur passage.»</span>
								
												<div class="spacer-sm"></div>
												<span class="f-font2">Sa vallée abrite des monstres dévastateurs. Les dompter est une vaine perspective. Jean-Luc Lugon n’a d’ailleurs jamais
													eu la prétention de le faire. «Ce qui est descendu lundi était énorme. Si une seconde semaine comme celle que l’on vient
													d’endurer se profile, cela risque d’être catastrophique.» Il dit ça, mais il ajoute. «En même temps, ça m’étonnerait.»
													Lui seul le sait et on est tenté de lui faire confiance. </span>
								
											</div>
								
								
								
								
										</div>
									</div>
								
								</div>
						
							</div>
						
							<div class="collapsable--footer f-center">
								<button type="button" class="btn btn-default btn-lg f-font3 f-weight600 f-aa">Ouvrir</button>
							</div>
						</div>

						<p class="f-h6 f-font1 f-inter">Une randonnée cher payée</p>

						<!-- PICTURE aside (doit marcher avec un autre contenu.) -->
						<div class="box-aside col-md-4" style="color:red; display: inline; overflow: auto;">
							<figure>
								<!-- <img src="img/article/slider10.jpg"> -->
								<canvas id="myChart3"></canvas>
								<div class="spacer-xl"></div>
								<figcaption class="f-font1 f-aside f-gray-medium f-aa">Il existe un lien clair entre le sentiment de devoir tenir le coup et le volume de jours de maladie/accident. Ceux qui ont très souvent ce sentiment estiment leur jours de maladie/accident cinq fois plus nombreux que ceux qui n'ont jamais ce sentiment.</figcaption>
							</figure>
						</div>
						
						<p>
							Quand la plaque se détache sous ses skis, Hubert a le réflexe de tirer sur la poignée de son sac airbag. Ce jour de janvier,
							le danger venait de passer du 3 au 2. Malgré ses quinze années d’expérience et ses précautions, Hubert est capturé par une
							plaque à vent dissimulée sous le manteau neigeux. Sous le col des Pauvres, dans les Alpes vaudoises, il dévale la pente
							sur 1000 mètres. «Si je n’avais pas eu d’airbag, j’aurais sans doute été enseveli sous 2 mètres de neige», témoigne-t-il.
						</p>

						<p>
							L’homme a eu la vie sauve, mais l’avalanche lui a coûté une jambe. «J’ai senti mon corps être étiré, mais je ne me souviens
							pas de douleur particulière liée à la perte d’un membre», livre ce chef de course du club alpin suisse.
						</p>
						
						<p>
							Hubert a toujours été prudent. Jamais, dit-il, il ne se permettait d’aborder des pentes de plus de 30° avec un groupe par
							danger 3. Mais seul, il s’autorisait quelques écarts. «C’est ridicule, comme si ma vie valait moins que celle des autres»,
							ressasse-t-il. Cette randonnée est cher payée, mais il veut en tirer un message préventif. «L’airbag ne suffit pas à se
							tirer d’affaire. Et désormais, alors que j’ai repris le ski, même en danger 2, je rechigne à m’approcher des pentes en hors-piste.»
						</p>
						
						<p class="f-h6 f-font1 f-inter">Trouver une explication</p>
						
						<p>
							A les entendre, arpenter la montagne peut s’apparenter à une partie de roulette russe. Malgré l’incertitude, toutes les victimes
							tentent de trouver une explication à leur sort. «Notre avalanche s’est déclenchée sur une moraine, un terrain qui, selon
							les montagnards, est plus propice au phénomène», souligne Diane. «Il y avait trop de neige fraîche, une rupture de pente
							et le tout sur une face nord», suppose Christian. Aucun n’ose évoquer la malchance.
						</p>
						
						<!-- ANIM -->
						<div class="scene-stepped box-full col-md-12">
						    <div class="row">
						        <div class="spacer-sm"></div>
								<figure class="scene-stepped--figure col-md-3 col-md-offset-2">
									<img src="img/placeholder330x330-1.jpg" alt="" class="anim1-img1">
									<img src="img/placeholder330x330-2.jpg" alt="" class="anim1-img2">
									<img src="img/placeholder330x330-3.jpg" alt="" class="anim1-img3">
								</figure>	
								<figcaption class="col-md-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vitae fuga sed velit saepe cupiditate recusandae consequuntur accusantium, in, non totam, impedit dolorem mollitia corporis odit? Id fuga ullam assumenda.</figcaption>
						        <div class="spacer-xl"></div>
						    </div>
						</div>
						
						<p>
							Pour Cachou, toutefois, la cause de son avalanche est demeurée obscure, jusqu’à son retour à la cabane. Cette journée d’avril
							2017, elle ne distinguait pas la terre du ciel, tant le jour était blanc. Alors qu’elle montait en peaux de phoque, derrière
							un guide de montagne, à Valgrisenche, en Italie, le danger est venu des airs. «La corniche qui surmontait la falaise que
							nous étions en train de longer s’est abattue sur nous», raconte la skieuse. Le choc est inattendu. Il renverse une partie
							du groupe et l’emporte dans la neige. Elle avait déjà vécu une avalanche en 2004, mais elle en gardait presque un sentiment
							agréable. «C’était comme sur un tapis volant et j’avais pu m’en extraire seule», se souvient cette jeune femme. Mais treize
							ans plus tard, sans doute parce qu’elle est alors jeune maman, elle sent chaque seconde passer, une à une, comme une torture.
						</p>

						<!-- PICTURE full -->
						<div class="box-full col-md-12">
						    <div class="row">
						        <div class="spacer-sm"></div>
						        <figure class="figure-lg">
						           	<iframe src="https://www.google.com/maps/d/embed?mid=1TmQSB0qYXFW8bM6_4S4E50-71LB4EJch" class="google-map"></iframe>
						            <div class="row">
						                <figcaption class="f-font1 f-aside f-gray-medium f-aa col-md-4">
						                    <div class="spacer-xl"></div>
						                    Le Salento (Salentu en dialecte) constitue l'extrémité sud-est de la région des Pouilles en Italie. Décrit comme étant le
						                    « talon de la botte italienne », il englobe la totalité de la province de Lecce.
						                </figcaption>
						            </div>
						        </figure>
						        <div class="spacer-xl"></div>
						    </div>
						</div>

						
						
						<p>
							La tête sous la neige, elle ne voit que du noir. «J’ai pensé que tout était fini», raconte-t-elle. Quand le noir vire au
							gris, c’est pour elle un signe d’espoir. L’avalanche ralentit: «J’ai sorti une main et par chance je suis parvenue à dégager
							ma bouche. Je me suis mise à hurler mais je n’ai rien entendu car la neige comprimait ma tête.»
						</p>
						
						<p class="f-h6 f-font1 f-inter">Emprisonnée dans la neige</p>
						
						<p>
							Aussitôt, la neige se pétrifie autour d’elle, lui rendant tout mouvement impossible. «C’est à cet instant que l’angoisse
							est devenue plus forte encore, car bien que tout fût arrêté, je craignais qu’une nouvelle avalanche ne s’abatte sur nous.»
							Ça n’a pas été le cas, mais Cachou est emprisonnée dans la neige.
						</p>
						
						<!-- PICTURE NORMAL -->
						<div class="box-full col-md-12">
							<div class="row">
								<div class="spacer-sm"></div>
								<figure class="figure-sm ">
									<!-- <img src="img/article/cachou.jpg" alt="" class="col-md-8 zoom"> -->
									<img class="img-responsive zoom lazy col-md-8" data-original="img/article/cachou.jpg">
									<figcaption class="f-font1 f-aside f-gray-medium f-aa col-md-4">C'est en montant à la Pointe Boveire que Cachou se fait emporter pour la première fois, en 2004. Restée à la surface de
										la coulée, elle se souvient d'une sensation presque agréable. «Comme sur un tapis volant».</figcaption>
								</figure>
								<div class="spacer-xl"></div>
							</div>
						</div>
						
						<p>
							Ses camarades parviennent à l’en extraire. Physiquement, elle s’en sort avec une cheville cassée. Mentalement, c’est une
							fracture ouverte. Elle a vu son amie retirer de sa bouche une boule de neige de la taille d’un œuf. Elle a cru que jamais
							plus elle ne verrait ses enfants et son mari. A ses yeux, la montagne, cette amie de longue date, lui montrait un autre
							visage. Celui-ci était funeste.
						</p>
						
						<p>
							Diane aussi a découvert la face pernicieuse de la montagne. Une fois l’avalanche immobilisée, son amie manque à l’appel.
							«Elle a été retrouvée sous plusieurs mètres de neige. Ce sont sans doute les dragonnes de ses bâtons qui l’ont tirée vers
							le bas. Elle est décédée quatre jours plus tard à l’hôpital.»
						</p>
						
						<div class="box-aside col-md-4" style="color:red; display: inline; overflow: auto; margin-bottom: 70px;">
							<div class="slider owl-carousel owl-theme">
								<img src="img/article/bd1.jpg" alt="">
								<img src="img/article/bd17.jpg" alt="">
								<img src="img/article/bd18.jpg" alt="">
								<img src="img/article/bd19.jpg" alt="">
								<img src="img/article/bd20.jpg" alt="">
								<img src="img/article/bd21.jpg" alt="">
								<img src="img/article/bd22.jpg" alt="">
								<img src="img/article/bd23.jpg" alt="">
								<img src="img/article/bd24.jpg" alt="">
							</div>
							<div class="spacer-md"></div>
							<figcaption class="f-font1 f-right f-aside f-gray-medium f-aa">Extrait d'une bande-dessinée qui aura aidé Cachou à soigner son traumatisme.</figcaption>
						</div>
						
						<p>
							Malgré les années écoulées, au fond d’elle, une rancœur la taraude encore. «Pendant les recherches, d’autres skieurs se sont
							approchés afin de nous venir en aide. C’était plein de bonnes intentions, mais ils n’avaient pas éteint leur DVA (détecteur
							de victimes d’avalanche) et, dans la confusion, leur venue a brouillé les pistes.» La victime a été retrouvée après quinze
							minutes. Il en a fallu quinze autres pour que l’hélicoptère arrive.
						</p>
						
						<p class="f-h6 f-font1 f-inter">Y retourner</p>
						
						<p>
							Leur blessure est profonde. Les victimes ont été trahies par la montagne, mais elles ne sont pas rancunières. Elles sont
							moins dupes. Et elles lui ont pardonné. Impossible d’y renoncer entièrement.
						</p>
						
						<p>
							Désormais, chaque victime, à sa manière, aborde la montagne d’une façon différente. Hubert n’a plus envie. Christian est
							plus prudent. Diane ne sort des pistes qu’accompagnée de guides de confiance, car eux seuls parviennent à calmer ses peurs.
							Quant à Cachou, elle sent de nouveau une excitation naître au fond d’elle lorsqu’il neige. Elle envisage de bientôt y retourner.
							Car la montagne, elle ne l’a jamais vraiment quittée.
						</p>

						<div class="collapsable">
							<div class="collapsable--header f-center">
								<figure class="portrait is-hidden">
									<img src="img/article/collapsable3-thumb.jpg">
								</figure>
								<span class="f-font1 f-weight400 f-h6 f-flash is-hidden">
									Risques: L’échelle des dangers d’avalanches a changé
								</span>
								<span class="f-font2 f-weight400 f-h5 f-gray-medium f-aa is-hidden">
									Le degré 4 est étendu vers le bas et interviendra plus souvent désormais. Mais le bureau des avalanches, le SLF, veut à tout prix éviter que le danger soit sous-estimé.
								</span>
								<button type="button" class="btn btn-default btn-lg btn-reveal f-font3 f-weight600 f-aa">Masquer</button>
							</div>
						
							<div class="collapsable--content">
						
								<div class="encart SINFORMER no-padding">
									<div class="clearfix">
								
										<div class="col-md-12 pull-right" style="padding: 0;">
											<div class="encart-3-columns">
												<span class="f-h6 f-font1 f-weight700">L’échelle des dangers d’avalanches a changé</span>
												<div class="spacer-sm"></div>
								
												<span class="f-font1 f-weight700 f-aa">Le degré 4 est étendu vers le bas et interviendra plus souvent désormais. Mais le bureau des avalanches, le SLF, veut
													à tout prix éviter que le danger soit sous-estimé.</span>
												<div class="spacer-sm"></div>
												<span class="f-font2">Cette semaine, le SLF est difficile à joindre, «absorbé par la situation actuelle», nous dit-on depuis Davos. Il est
													vrai que c’est un hiver rare, pour ne pas dire unique, par l’intensité des précipitations.</span>
								
												<div class="spacer-sm"></div>
												<span class="f-font2">Mais ses conditions exceptionnelles ne font pas que bouleverser le quotidien de l’institut pour l’étude pour la neige
													et des avalanches. Elles ne provoquent pas seulement blocages et chaos sur les routes et dans les villages de montagne.
													Elles dissimulent aussi un changement dans l’échelle des dangers d’avalanche.</span>
								
								
												<div class="spacer-sm"></div>
												<div class="spacer-sm"></div>
												<span class="f-font1 f-weight700">Seulement aux professionnels</span>
												<div class="spacer-sm"></div>
												<span class="f-font2">Depuis cet hiver, le SLF a décidé de modifier quelques-uns de ses critères. L’objectif était de corriger les différences
													avec certains pays voisins. La principale conséquence est que le degré de danger 4 (fort) est désormais plus étendu.
													Vers le bas. «Les degrés 3 les plus élevés deviendront des degrés 4», résume Thomas Stucki. Mais le responsable de l’équipe
													Prévisions d’avalanches du SLF est prudent dans le choix des mots. Il sait que le sujet est sensible. «Cela ne concernera
													qu’une poignée de cas par hiver.»</span>
												<span class="f-font2">En termes de communication, c’est un vrai exercice d’équilibriste pour le SLF. Parce que d’une part, certains services
													de sécurité se mettent en branle de manière systématique, lorsque le degré 4 est affiché. «Nous avons donc modifié la
													manière de rédiger nos recommandations, qui était plus strictes auparavant, précise Thomas Stucki. Chaque risque mérite
													d’être analysé localement, sur la base de ses propres mesures et observations.»</span>
								
												<div class="spacer-sm"></div>
												<span class="f-font2">D’autre part, le SLF devait gérer les effets de ce changement sur les skieurs hors-piste, les randonneurs ou les alpinistes.
													Si l’institut l’a seulement communiqué aux professionnels de la montagne, et non pas au grand public, c’est parce qu’il
													veut éviter que le danger soit sous-estimé par ceux qui consultent son bulletin, avant de prévoir une sortie en montagne.</span>
								
												<div class="spacer-sm"></div>
												<div class="spacer-sm"></div>
												<span class="f-font1 f-weight700">Le degré 3 est le plus mortel</span>
												<div class="spacer-sm"></div>
												<span class="f-font2">Avant que cette décision ne soit prise, une étude (non publiée) a été réalisée. Elle a pu s’appuyer sur les milliers
													de données qu’a accumulées le SLF depuis l’hiver 1937-1938. En regard du changement d’échelle, cette statistique est
													particulièrement équivoque: au cours des vingt dernières années, seulement 5% des accidents mortels se sont produits
													pendant un degré 4. Par contre, 60% des décès sont intervenus lorsque le degré de danger était à 3.</span>
								
												<div class="spacer-sm"></div>
												<span class="f-font2">Parce qu’en degré 4, les sorties sont beaucoup moins nombreuses? Des professionnels de la montagne nous le confirment:
													le passage du danger 3 au danger 4 est rédhibitoire. Il décourage une immense majorité des skieurs hors piste. «Les
													situations avec un degré 3 sont beaucoup plus fréquentes que les autres, ajoute Thomas Stucki. Et elles offrent souvent
													de belles conditions pour les randonnées. Mais il est évident que si l’on affiche un degré 4, c’est qu’il y a vraiment
													du danger.»</span>
								
								
											</div>
								
								
								
								
										</div>
									</div>
									<div class="encart-chart">
										<div class="col-md-8 encart-chart-figure">
											<span class="f-h5 f-font1 f-weight700 f-center">Accidents mortels par degré de danger</span>
											<div class="spacer-lg"></div>
											<canvas id="myChart"></canvas>
										</div>
										<div class="box-aside col-md-4 encart-chart-caption">
											<div class="spacer-xs"></div>
											<span class="f-h5 f-font1 f-weight700">Accidents d'avalanche mortels (20 ans)</span>
											<div class="spacer-lg"></div>
											<iframe class="custom" src='https://map.geo.admin.ch/embed.html?lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&E=2631225.45&N=1193697.01&zoom=0&layers=KML%7C%7Chttps:%2F%2Fwww.slf.ch%2Favalanche%2Faccidents%2Faccidents_20years_fr.kml,ch.swisstopo.zeitreihen,ch.swisstopo.geologie-geologischer_atlas_vector.metadata&layers_timestamp=,18641231,&layers_visibility=true,false,false'
											 width='400' height='300' frameborder='0' style='border:0'></iframe>
										</div>
								
									</div>
								
								</div>
						
							</div>
						
							<div class="collapsable--footer f-center">
								<button type="button" class="btn btn-default btn-lg f-font3 f-weight600 f-aa">Ouvrir</button>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</section>

		<section class="prefooter">
			<div class="container">

				<div class="row">
					<h3 class="text-center f-font1 f-h3 f-weight100 f-aa">Nos grands formats</h3>
					<div class="spacer-xl"></div>
					<div class="col-md-3 col-sm-6">
						<main>
							<a href="https://labs.letemps.ch/interactive/2018/longread-avalanches/" target="_blank" class="tilter tilter--2">
								<figure class="tilter__figure">
									<img class="tilter__image" src="img/article-card-avalanches.jpg" alt="img03" />
									<div class="tilter__deco tilter__deco--shine">
										<div></div>
									</div>
									<div class="tilter__deco tilter__deco--overlay"></div>
									<figcaption class="tilter__caption">
										<h4 class="tilter__title f-font1 f-h3 f-weight700 f-aa">L’avalanche de leur vie</h4>
										<!-- <p class="tilter__description">À la frontière entre les Etats-Unis et le Mexique</p> -->
									</figcaption>
									<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
										<path d="M20.5,20.5h260v375h-260V20.5z" />
									</svg>
								</figure>
							</a>
						</main>
					</div>
					<div class="col-md-3 col-sm-6">
						<main>
							<a href="https://labs.letemps.ch/interactive/2016/longread-fioul-lourd/" target="_blank" class="tilter tilter--2">
								<figure class="tilter__figure">
									<img class="tilter__image" src="img/article-card-fioul-lourd.jpg" alt="img03" />
									<div class="tilter__deco tilter__deco--shine"><div></div></div>
									<div class="tilter__deco tilter__deco--overlay"></div>
									<figcaption class="tilter__caption">
										<h4 class="tilter__title f-font1 f-h3 f-weight700 f-aa">Fioul&nbsp;lourd</h4>
										<p class="tilter__description">Le sang impur de la globalisation</p>
									</figcaption>
									<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
										<path d="M20.5,20.5h260v375h-260V20.5z" />
									</svg>
								</figure>
							</a>
						</main>
					</div>
					<div class="col-md-3 col-sm-6">
						<main>
							<a href="https://labs.letemps.ch/interactive/2016/shenzhen/" target="_blank" class="tilter tilter--2">
								<figure class="tilter__figure">
									<img class="tilter__image" src="img/article-card-shenzen.jpg" alt="img03" />
									<div class="tilter__deco tilter__deco--shine"><div></div></div>
									<div class="tilter__deco tilter__deco--overlay"></div>
									<figcaption class="tilter__caption">
										<h4 class="tilter__title f-font1 f-h3 f-weight700 f-aa">Shenzhen</h4>
										<p class="tilter__description">De la fumée des usines aux ateliers d'artistes</p>
									</figcaption>
									<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
										<path d="M20.5,20.5h260v375h-260V20.5z" />
									</svg>
								</figure>
							</a>
						</main>
					</div>
					<div class="col-md-3 col-sm-6">
						<main>
							<a href="https://labs.letemps.ch/interactive/2016/longread-horlogerie-japonaise/" target="_blank" class="tilter tilter--2">
								<figure class="tilter__figure">
									<img class="tilter__image" src="img/article-card-horlogerie-japonaise.jpg" alt="img03" />
									<div class="tilter__deco tilter__deco--shine"><div></div></div>
									<div class="tilter__deco tilter__deco--overlay"></div>
									<figcaption class="tilter__caption">
										<h4 class="tilter__title f-font1 f-h3 f-weight700 f-aa">Horlogerie japonaise</h4>
										<p class="tilter__description">A la conquête du monde</p>
									</figcaption>
									<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
										<path d="M20.5,20.5h260v375h-260V20.5z" />
									</svg>
								</figure>
							</a>
						</main>
					</div>
					<div class="col-md-3 col-sm-6">
						<main>
							<a href="https://labs.letemps.ch/interactive/2016/tchernobyl-30-ans/" target="_blank" class="tilter tilter--2">
								<figure class="tilter__figure">
									<img class="tilter__image" src="img/article-card-tcherno-30-ans.jpg" alt="img03" />
									<div class="tilter__deco tilter__deco--shine"><div></div></div>
									<div class="tilter__deco tilter__deco--overlay"></div>
									<figcaption class="tilter__caption">
										<h4 class="tilter__title f-font1 f-h3 f-weight700 f-aa">Voyage au cœur de la zone</h4>
										<p class="tilter__description">Avec les exilés installés à Tchernobyl</p>
										<!-- <p class="tilter__description">Comment Adula, le projet de parc national, agite le Tessin et les Grisons</p> -->
									</figcaption>
									<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
										<path d="M20.5,20.5h260v375h-260V20.5z" />
									</svg>
								</figure>
							</a>
						</main>
					</div>
					<div class="col-md-3 col-sm-6">
						<main>
							<a href="https://labs.letemps.ch/interactive/2017/longread-epicerie-vrac/" target="_blank" class="tilter tilter--2">
								<figure class="tilter__figure">
									<img class="tilter__image" src="img/article-card-epicerie.jpg" alt="img03" />
									<div class="tilter__deco tilter__deco--shine">
										<div></div>
									</div>
									<div class="tilter__deco tilter__deco--overlay"></div>
									<figcaption class="tilter__caption">
										<h4 class="tilter__title f-font1 f-h3 f-weight700 f-aa">Au bonheur du vrac</h4>
										<!-- <p class="tilter__description">Avec les exilés installés à Tchernobyl</p> -->
										<!-- <p class="tilter__description">Comment Adula, le projet de parc national, agite le Tessin et les Grisons</p> -->
									</figcaption>
									<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
										<path d="M20.5,20.5h260v375h-260V20.5z" />
									</svg>
								</figure>
							</a>
						</main>
					</div>
					<div class="col-md-3 col-sm-6">
						<main>
							<a href="https://labs.letemps.ch/interactive/2016/longread-gothard/" target="_blank" class="tilter tilter--2">
								<figure class="tilter__figure">
									<img class="tilter__image" src="img/article-card-gothard.jpg" alt="img03" />
									<div class="tilter__deco tilter__deco--shine">
										<div></div>
									</div>
									<div class="tilter__deco tilter__deco--overlay"></div>
									<figcaption class="tilter__caption">
										<h4 class="tilter__title f-font1 f-h3 f-weight700 f-aa">Les oubliés du Gothard</h4>
										<!-- <p class="tilter__description">Avec les exilés installés à Tchernobyl</p> -->
									</figcaption>
									<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
										<path d="M20.5,20.5h260v375h-260V20.5z" />
									</svg>
								</figure>
							</a>
						</main>
					</div>
					<div class="col-md-3 col-sm-6">
						<main>
							<a href="https://labs.letemps.ch/interactive/2017/bol-dor-mirabaud-epopee-technologique/" target="_blank" class="tilter tilter--2">
								<figure class="tilter__figure">
									<img class="tilter__image" src="img/article-card-mirabaud.jpg" alt="img03" />
									<div class="tilter__deco tilter__deco--shine">
										<div></div>
									</div>
									<div class="tilter__deco tilter__deco--overlay"></div>
									<figcaption class="tilter__caption">
										<h4 class="tilter__title f-font1 f-h3 f-weight700 f-aa">Le Bol D’Or</h4>
										<p class="tilter__description">Une épopée technologique</p>
										<!-- <p class="tilter__description">Comment Adula, le projet de parc national, agite le Tessin et les Grisons</p> -->
									</figcaption>
									<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
										<path d="M20.5,20.5h260v375h-260V20.5z" />
									</svg>
								</figure>
							</a>
						</main>
					</div>
					<div class="col-md-3 col-sm-6">
						<main>
							<a href="https://labs.letemps.ch/interactive/2017/longread-horlogers-robots/" target="_blank" class="tilter tilter--2">
								<figure class="tilter__figure">
									<img class="tilter__image" src="img/article-card-robots.jpg" alt="img03" />
									<div class="tilter__deco tilter__deco--shine">
										<div></div>
									</div>
									<div class="tilter__deco tilter__deco--overlay"></div>
									<figcaption class="tilter__caption">
										<h4 class="tilter__title f-font1 f-h3 f-weight700 f-aa">Mon horloger est un robot</h4>
										<!-- <p class="tilter__description">Avec les exilés installés à Tchernobyl</p> -->
									</figcaption>
									<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
										<path d="M20.5,20.5h260v375h-260V20.5z" />
									</svg>
								</figure>
							</a>
						</main>
					</div>
					<div class="col-md-3 col-sm-6">
						<main>
							<a href="https://labs.letemps.ch/interactive/2016/longread-montgomery-st/" target="_blank" class="tilter tilter--2">
								<figure class="tilter__figure">
									<img class="tilter__image" src="img/article-card-montgommery.jpg" alt="img03" />
									<div class="tilter__deco tilter__deco--shine">
										<div></div>
									</div>
									<div class="tilter__deco tilter__deco--overlay"></div>
									<figcaption class="tilter__caption">
										<h4 class="tilter__title f-font1 f-h3 f-weight700 f-aa">Montgomery street</h4>
										<p class="tilter__description">Des millionnaires aux vendeurs de crack</p>
									</figcaption>
									<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
										<path d="M20.5,20.5h260v375h-260V20.5z" />
									</svg>
								</figure>
							</a>
						</main>
					</div>
					<div class="col-md-3 col-sm-6">
						<main>
							<a href="https://labs.letemps.ch/interactive/2016/longread-ski-chine/" target="_blank" class="tilter tilter--2">
								<figure class="tilter__figure">
									<img class="tilter__image" src="img/article-card-ski.jpg" alt="img03" />
									<div class="tilter__deco tilter__deco--shine">
										<div></div>
									</div>
									<div class="tilter__deco tilter__deco--overlay"></div>
									<figcaption class="tilter__caption">
										<h4 class="tilter__title f-font1 f-h3 f-weight700 f-aa">Quand la Chine skiera</h4>
										<!-- <p class="tilter__description">Des millionnaires aux vendeurs de crack</p> -->
									</figcaption>
									<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
										<path d="M20.5,20.5h260v375h-260V20.5z" />
									</svg>
								</figure>
							</a>
						</main>
					</div>
					<div class="col-md-3 col-sm-6">
						<main>
							<a href="https://labs.letemps.ch/interactive/2017/longread-au-pied-du-mur/" target="_blank" class="tilter tilter--2">
								<figure class="tilter__figure">
									<img class="tilter__image" src="img/article-card-mur.jpg" alt="img03" />
									<div class="tilter__deco tilter__deco--shine">
										<div></div>
									</div>
									<div class="tilter__deco tilter__deco--overlay"></div>
									<figcaption class="tilter__caption">
										<h4 class="tilter__title f-font1 f-h3 f-weight700 f-aa">Au pied du mur</h4>
										<p class="tilter__description">À la frontière entre les Etats-Unis et le Mexique</p>
									</figcaption>
									<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
										<path d="M20.5,20.5h260v375h-260V20.5z" />
									</svg>
								</figure>
							</a>
						</main>
					</div>
					
				</div>
			</div>
		</section>

		<footer class="f-font1 f-h5 f-white f-weight400 f-aa">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<ul class="footer-menu">
							<a href="https://www.letemps.ch" target="_blank"><img src="img/logo-lt-blanc.svg" alt="" class="footer-logo"></a>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li><a href="https://www.letemps.ch/a-propos" target="blank">À propos</a></li>
							<li><a href="https://www.letemps.ch/faq" target="blank">FAQ</a></li>
							<li><a href="https://www.letemps.ch/contact" target="blank">Contacts</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<ul class="footer-menu">
							<li><a href="http://www.admeira.ch/fr/brands/digital/letemps-ch" target="blank">Publicité</a></li>
							<li><a href="http://www.letempsarchives.ch/" target="blank">Archives</a></li>
							<li><a href="https://www.letemps.ch/abonnes/services" target="blank">Services</a></li>
							<li><a href="https://www.letemps.ch/rss" target="blank">RSS</a></li>
							<li><a href="https://www.letemps.ch/" target="blank">© 2018 Le Temps SA</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						
						<h4 class="f-weight700">Vos newsletters</h4>
						<h4>Inscrivez-vous et recevez les newsletter de votre choix. <span class="f-weight700"><a href="https://www.letemps.ch/newsletters" target="_blank">Voir la liste</a></span></h4>
						<div class="spacer-xl"></div>
						<div class="sharebox sharebox-invert">
							<a href="https://www.facebook.com/sharer.php?u={{ app.url }}&display=popup&ref=plugin&src=share_button"><i class="fa fa-facebook fa-2x"></i></a>
							<a href="https://twitter.com/intent/tweet?text={{ twitterDescription ~ ' ' ~ app.url ~ ' '|url_encode }}&via={{ brand }}"><i class="fa fa-twitter fa-2x"></i></a>
							<a href="https://www.linkedin.com/shareArticle?url={{ app.url }}&mini=true&title={{ title|url_encode }}&summary={{ description|url_encode }}&source={{ 'Le Temps'|url_encode }}"><i class="fa fa-linkedin fa-2x"></i></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="credits col-md-12">
						<div class="spacer-xl"></div>
						<span class="f-h7 f-gray-medium">Format web: César Greppin</span><br>
						<span class="f-h7 f-gray-medium">Montage vidéo: Vanessa Lam</span><br>
						<span class="f-h7 f-gray-medium">Infographies: Florent Collioud</span>
					</div>
				</div>
			</div>
		</footer>


		{{ block('footer_brand') }}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/lazyload.js"></script>
        <script src="js/main.js"></script>
        <script src="js/header.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.4/SmoothScroll.min.js"></script>
		<script src="js/jquery.fitvids.js"></script>
		
        <!-- tilt dependencies -->
        <script src="js/tilt.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script> 
		<script src="js/anime.min.js"></script>

		<script src="js/zoom.js"></script>
		<script src="js/viewport.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


        <script>
			(function() {
				var tiltSettings = [
				{},
				{
					movement: {
						imgWrapper : {
							translation : {x: 0, y: 0, z: 0},
							rotation : {x: -5, y: 5, z: 0},
							reverseAnimation : {
								duration : 1200,
								easing : 'easeOutElastic',
								elasticity : 600
							}
						},
						lines : {
							translation : {x: 10, y: 10, z: [0,10]},
							reverseAnimation : {
								duration : 1000,
								easing : 'easeOutExpo',
								elasticity : 600
							}
						},
						caption : {
							translation : {x: 20, y: 20, z: 0},
							rotation : {x: 0, y: 0, z: 0},
							reverseAnimation : {
								duration : 1500,
								easing : 'easeOutElastic',
								elasticity : 600
							}
						},
						/*
						overlay : {
							translation : {x: 10, y: 10, z: [0,50]},
							reverseAnimation : {
								duration : 500,
								easing : 'easeOutExpo'
							}
						},
						*/
						shine : {
							translation : {x: 50, y: 50, z: 0},
							reverseAnimation : {
								duration : 1200,
								easing : 'easeOutElastic',
								elasticity: 600
							}
						}
					}
				
				
				}];
				function init() {
					var idx = 0;
					[].slice.call(document.querySelectorAll('a.tilter')).forEach(function(el, pos) { 
						idx = pos%2 === 0 ? idx+1 : idx;
						new TiltFx(el, tiltSettings[idx-1]);
					});
				}
				// Preload all images.
				imagesLoaded(document.querySelector('main'), function() {
					document.body.classList.remove('loading');
					init();
				});
				// REMOVE THIS!
				// For Demo purposes only. Prevent the click event.
				[].slice.call(document.querySelectorAll('a[href="#"]')).forEach(function(el) {
					el.addEventListener('click', function(ev) { ev.preventDefault(); });
				});
				var pater = document.querySelector('.pater'),
					paterSVG = pater.querySelector('.pater__svg'),
					pathEl = paterSVG.querySelector('path'),
					paths = {default: pathEl.getAttribute('d'), active: paterSVG.getAttribute('data-path-hover')};
				pater.addEventListener('mouseenter', function() {
					anime.remove(pathEl);
					anime({
						targets: pathEl,
						d: paths.active,
						duration: 400,
						easing: 'easeOutQuad'
					});
				});
				pater.addEventListener('mouseleave', function() {
					anime.remove(pathEl);
					anime({
						targets: pathEl,
						d: paths.default,
						duration: 400,
						easing: 'easeOutExpo'
					});
				});
			})();
		</script>
	</body>
	
</html>